---

---
<section id="footer" class="w-full relative bottom-0 mb-8 mt-15 flex flex-col items-center justify-center ">
  <footer>made with ❤️ by <a href="https://github.com/SPmfl" target="_blank"><strong>SPmfl</strong></a></footer>
</section>
